<div class="container top17">
  <div class="row no-gutter">
    <div class="col-md-8">
      <form ng-submit="filterEvents()">
        <div class="input-group  col-md-4">
          <span class="input-group-addon" id="basic-addon1"><i class="fas fa-tasks" aria-hidden="true"></i></span>
          <select class="form-control" ng-model="view" ng-change="switch_view()">
            <option value="all_events">All Events</option>
            <option value="your_events">Your Events</option>
            <option value="distinctnames">Distinct Event Names</option>
          </select>
        </div>
        <div class="input-group" ng-hide="view=='your_events'">
            <span class="input-group-addon" id="basic-addon1"><i class="fas fa-search" aria-hidden="true" ng-click="filterEvents()"></i></span>
            <input type="text" class="form-control" placeholder="Event search" aria-describedby="basic-addon1" ng-model="filter"></input>
            <span ng-show="filter.length" class="input-group-addon" id="basic-addon1">
                <i class="fas fa-times" aria-hidden="true" ng-click="clearFilter()"></i>
            </span>
            <span class="input-group-addon btn" id="refresh-addon" ng-click="filterEvents()">
              <i class="fas fa-sync" aria-hidden="true"></i>&nbsp;Filter Events
            </span>
        </div>
      </form>
    </div>
  </div>
  <form ng-submit="filterEvents()">

  <ng-include src="'static/app/partials/all_events_table.html'" ng-if="view=='all_events' || view=='your_events'"></ng-include>
  <ng-include src="'static/app/partials/distinctnames_table.html'" ng-if="view=='distinctnames'"></ng-include>
  <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
  
</form>
  <div class="row no-gutter">
    <div align="center">
      <ul class="events-pagination" uib-pagination total-items="count" ng-model="currentPage" items-per-page="20" previous-text="&#xf060;"
        next-text="&#xf061;" ng-change="pageChanged()" ng-show="showPage" max-size="10" boundary-link-numbers="true">
      </ul>
    </div>
  </div>
</div>
